<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vienna's Housing History</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 font-sans">
    <nav class="bg-indigo-600 text-white shadow-lg">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16 items-center">
                <!-- Logo -->
                <div class="flex gap-2">

                    <a href="/">

                        <img class="h-11" src="static/assets/img/whitelogo.png" alt="The Zuhause Project">
                    </a>
                    <div>

                    </div>


                </div>
                <!-- Links -->
                <div class="hidden md:flex space-x-6 font-semibold text-pretty ">
                    <a href="/" class="hover:text-gray-200">Home</a>
                    <a href="/analytics" class="hover:text-gray-200">Analytics</a>
                    <a href="/about" class="hover:text-gray-200">About</a>

                    <a href="/history" class="hover:text-gray-200">History</a>
                    <a href="/#blog" class="hover:text-gray-200">Blog</a>
                    <a href="/research" class="hover:text-gray-200">Economic Research</a>
                    <a href="/publications" class="hover:text-gray-200">Publications & Work</a>
                </div>
                <!-- Mobile Menu Button -->
                <div class="-mr-2 flex md:hidden">
                    <button type="button"
                        class="inline-flex items-center justify-center p-2 rounded-md text-white hover:text-gray-200 focus:outline-none">
                        <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                            <path class="inline-flex" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16m-7 6h7"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </nav>
    <h1 id="title" class="text-md mt-2 max-w-4xl text-right mx-auto">Explore the pages above*</h1>


    <div class="max-w-4xl mx-auto">
        <header class="text-black mt-10 flex gap-2">
            <img class="h-11" src="https://cdn-icons-png.flaticon.com/512/3740/3740762.png" alt="The Zuhause Project">
            <h1 id="title" class="text-2xl mt-2 font-bold">The Zuhause Project</h1>
        </header>
        <div class="mt-4">


        </div>
        <h1 class="mt-10 text-pretty text-4xl font-semibold tracking-tight text-gray-900 mb-6">
            About the Zuhause Platform</h1>
        <a href="https://www.wirel-project.at/" class="text-xl text-blue-700 font-semibold"> Check out <b>WIREL</b><span
                aria-hidden="true">→</span></a>



        <div class="flex gap-x-6">

            <div class="flex-1">
                <div>
                    <h1 class="mt-10 text-pretty text-4xl font-semibold tracking-tight text-gray-900 mb-6">
                        The Data</h1>
                    <p>
                        What data are you actually seeing here? For 243 different areas that collectively make up the
                        city of Vienna, Austria, <b>The Zuhause Project</b> offers deep insights into diversity and
                        representation of each sub-community.
                    </p><br>
                    <p>
                        The pie chart is an intuitive and digestible format to display the cultural makeup of each
                        sub-district — with each slice representing the people of a different nation residing within
                        Vienna. Among these nations are
                        Austria, Germany, Poland, Czech Republic & Slovakia, Hungary, Romania & Bulgaria, Former
                        Yugoslavia, Turkey, and Rest of Europe. The pie chart can also be manipulated over time, with
                        data at 5 ten year intervals: 1971, 1981, 1991, 2001, and 2011.
                        To the right, a line chart displays the Austrian population percentage of each sub-region in
                        Vienna, with the general trend that since 1971, the communities have become more diverse and
                        less Austrian-concentrated.
                    </p>

                    <h1 class="mt-10 text-pretty text-4xl font-semibold tracking-tight text-gray-900 mb-6">
                        How does this connect to housing?</h1>
                    <p>
                        Housing policies have signifcant consequences for the patterns we track and recognize in our
                        analytics. An important economic and social trade off rests in the income-limit for subsidized
                        housing. Vienna's relatively high income-limits for subsidized housing aim to promote social
                        diversity, but lower thresholds would allow for more targeted resource allocation and ease
                        the housing budget, while the higher limits reduce market fluidity, as residents remain in
                        subsidized housing rather than transitioning to the private market. Tenant protections under the
                        Tenant Act exacerbate this issue, as income
                        increases are not monitored, allowing higher-earning tenants to continue benefiting from
                        subsidies. </p><br>
                    <p> This leaves some low-income families struggling to access housing.The policy limits long-term
                        market flexibility, complicating
                        the system’s effectiveness and suggesting the feasibility of housing policy to promote
                        investment and growth while improving Vienna's living standards and socioeconomic mobility for a
                        more equitable society.
                    </p><br>
                    <h1 class="mt-10 text-pretty text-4xl font-semibold tracking-tight text-gray-900 mb-6">
                        Our Goals at Zuhause</h1>

                    <p>
                        Social
                        segregation persists in areas like Favoriten, where integration between subsidized and
                        private housing has been less effective. High income thresholds for subsidized housing
                        and rent controls limit market fluidity, causing housing mismatches and reducing upward
                        mobility for low-income families. Furthermore, declining investment in older subsidized
                        properties raises concerns about the long-term sustainability of housing quality.There
                        are also unanswered questions regarding how much of the reduction in inequality can
                        be attributed solely to housing regulations, given the roles of education, employment,
                        and social services. As Vienna’s population is projected to reach 2.2 million by 2035, it
                        remains uncertain whether these policies can adapt to growing demand. Nevertheless,
                        Vienna’s housing model offers valuable lessons for other cities aiming to reduce
                        inequality through comprehensive regulations.
                    </p>
                    <br>
                    <p>
                        Our analytics at <b>The Zuhause Project</b> also include a heatmap on a scale from 1 (host
                        population dominant, ie Austrians) to 8 (concentrated, ie non-host population dominant). We
                        track this data across three relevant characteristics: country of birth, nationality, and
                        religion. As such, census data, which offers little insight without deeper analysis and
                        intepretation, is processed and converted to a digestible format, and the connections between
                        the city's housing policies and socioeconomic equality and diversity statistics over time become
                        evident. This is the mission of <b>The Zuhause Project,</b> to to unite the people of Vienna in
                        the fight for a housing &
                        city development approach
                        that encourages integration, reduces the wealth gap, and promotes socioeconomic
                        equality.
                    </p>
                </div>
               
                <div>

                </div>


                </p><br>
                <p>


                </p>
            </div>
            <div class="flex-1">
                <div>
                    <h2 class="text-xl font-semibold text-gray-800 mb-4">Host</h2>
                    <div class="space-y-2">
                        <div class="flex items-center space-x-4">
                            <div
                                class="w-8 h-8 flex items-center justify-center bg-amber-700 text-white font-semibold rounded">
                                1</div>
                            <span class="text-gray-700">Dominant</span>
                        </div>
                        <div class="flex items-center space-x-4">
                            <div
                                class="w-8 h-8 flex items-center justify-center bg-amber-500 text-white font-semibold rounded">
                                2</div>
                            <span class="text-gray-700">Mild Inclusion</span>
                        </div>
                        <div class="flex items-center space-x-4">
                            <div
                                class="w-8 h-8 flex items-center justify-center bg-amber-300 text-gray-800 font-semibold rounded">
                                3</div>
                            <span class="text-gray-700">Strong Inclusion</span>
                        </div>
                    </div>
                    <p class="text-sm text-gray-500 mt-4">Host-population over-represented</p>
                </div>
                <div class="mt-6">
                    <h2 class="text-xl font-semibold text-gray-800 mb-4">Enclave</h2>
                    <div class="space-y-2">
                        <div class="flex items-center space-x-4">
                            <div
                                class="w-8 h-8 flex items-center justify-center bg-green-500 text-white font-semibold rounded">
                                4</div>
                            <span class="text-gray-700">Pluralist</span>
                        </div>
                        <div class="flex items-center space-x-4">
                            <div
                                class="w-8 h-8 flex items-center justify-center bg-yellow-500 text-white font-semibold rounded">
                                5</div>
                            <span class="text-gray-700">Focused</span>
                        </div>
                        <div class="flex items-center space-x-4">
                            <div
                                class="w-8 h-8 flex items-center justify-center bg-yellow-300 text-gray-800 font-semibold rounded">
                                6</div>
                            <span class="text-gray-700">Rainbow</span>
                        </div>
                        <div class="flex items-center space-x-4">
                            <div
                                class="w-8 h-8 flex items-center justify-center bg-red-500 text-white font-semibold rounded">
                                7</div>
                            <span class="text-gray-700">Polarised</span>
                        </div>
                        <div class="flex items-center space-x-4">
                            <div
                                class="w-8 h-8 flex items-center justify-center bg-red-700 text-white font-semibold rounded">
                                8</div>
                            <span class="text-gray-700">Concentrated</span>
                        </div>
                    </div>
                    <p class="text-sm text-gray-500 mt-4">Host-population under-represented</p>
                </div>
                <div>
                    <img class="max-w-md mt-16" src="static/assets/img/img.png">
                    <b>The divisions of Vienna across 243 sub-regions tracked by Zuhause</b>
                </div>
                <div>
                    <img class="max-w-md mt-16" src="static/assets/img/linechart.png">
                    <b>Austrian share of population per region, over time (1971-2011).</b>
                </div>
                <div>
                    <img class="max-w-md mt-16" src="static/assets/img/countryofbirth.png">
                    <b>Heatmap for country of birth</b>
                </div>
                <div>
                    <img class="max-w-md mt-16" src="static/assets/img/heatmap.png">
                    <b>Diversity rating (scored out of 8)</b>
                </div>
            </div>

        </div>




    </div>


    </div>

    </div>

    </div>
</body>

</html>